#root {
  margin: 0 auto;
  /*
  padding: 2rem;
  */
}
.Title{
  margin-bottom: 6em;
  font-size: 1.1vw;
  line-height: .9;
  text-align: center;
  letter-spacing: -.15em;
  max-width: 10000px;
}

.TextCenter{
  text-align: center;
}
/*
@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"), url(https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFont-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrainsMono Bold";
  src: local("JetBrainsMono Bold"), url(https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/JetBrainsMono/Ligatures/Bold/JetBrainsMonoNerdFont-Bold.ttf) format("truetype");
}
*/
.JetBrainsMono{
  font-family: "JetBrainsMono Nerd Font";
}

.JetBrainsMonoBold{
  font-family: "JJetBrainsMono Nerd Font";
  font-weight: bold;
}

.TextContent{
  font-size: 2vw;
}

.RoutesLinks{
  background-image: 
    linear-gradient(
      to right, 
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #00fafa,
        #fa8edd,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: 0%;
}
.RoutesLinks:hover{
  animation: animatedgradienttext 0.5s ease-in-out;
  cursor: pointer;
}

@keyframes animatedgradienttext {
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  /*
  padding: 15px 20px;
  */
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.Footer{
  margin-top: auto;
  background-color: var(--bg-color);
  width: 100%;
  color: white;
}

.PageNotFoundText{
  text-align: left;
  font-size: 5vw;
}

.PageNotFound{
  margin-left: 17%;
}

.FullWidth{
  width: 100%;
}

.Center{
  margin: 0 auto;
}

.CenterChildren{
  display: flex;
  justify-content: center;
}

.OneCharSpacer{
  margin-left: 1ch;
  margin-right: 1ch;
}

.MainLayout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}