#root {
  margin: 0 auto;
  /*
  padding: 2rem;
  */
}
.Title{
  margin-bottom: 6em;
  font-size: 1vw;
  line-height: .9;
  text-align: center;
  letter-spacing: -.1em;
  /* max-width: 10000px; */
}

.TextCenter{
  text-align: center;
}

@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"), url(https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFont-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrainsMono Bold";
  src: local("JetBrainsMono Bold"), url(https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts/patched-fonts/JetBrainsMono/Ligatures/Bold/JetBrainsMonoNerdFont-Bold.ttf) format("truetype");
}

.JetBrainsMono{
  font-family: "JetBrainsMono";
}

.JetBrainsMonoBold{
  font-family: "JetBrainsMono Bold";
}

.TextContent{
  font-size: 2vw;
}

.RoutesLinks{
  background-image: 
    linear-gradient(
      to right, 
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #00fafa,
        #fa8edd,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: 0%;
}
.RoutesLinks:hover{
  animation: animatedgradienttext .8s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes animatedgradienttext {
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  /*
  padding: 15px 20px;
  */
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.Footer{
  margin-top: auto;
  background-color: var(--bg-color);
  width: 100%;
  color: white;
}

.PageNotFoundText{
  text-align: left;
  font-size: 5vw;
}

.PageNotFound{
  margin-left: 17%;
}

.FullWidth{
  width: 100%;
}

.Center{
  margin: 0 auto;
}

.CenterChildren{
  display: flex;
  justify-content: center;
}

.OneCharSpacer{
  margin-left: 1ch;
  margin-right: 1ch;
}

.MainLayout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.IsLiveContainer{
  text-align: center;
  border-radius: .5em;
  max-width: auto;
  padding: .5em;
  margin-bottom: 0em;
  margin-top: .6em;
  animation-name: IsLiveFade;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  --Live-Color: rgba(248, 3, 56, 1);
  --Live-Color-Fade: rgba(248, 3, 56, 0.8);
}



@keyframes IsLiveFade {
  0%   {
    background-color: var(--Live-Color);
    box-shadow: 0px 0px 15px var(--Live-Color);
  }
  100%   {
    background-color: var(--Live-Color-Fade);
    box-shadow: 0px 0px 5px var(--Live-Color-Fade);
  }
}